<div id ="pins" class ="transitions-enabled"> 
    <% @pins.each do |pin| %>
    <div class = "box">
      <div class = "panel panel-default"> 
        <%= image_tag pin.avatar_url(:large).to_s %><br/>
        <%= link_to "Download Attachment", pin.avatar_url %>
        <div class = "panel-body">
        <%= pin.description %><br/>
      </div>
        <% if pin.user == current_user %>
          <div class="panel-footer">
          <%= link_to 'Edit', edit_pin_path(pin) %><br/>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> 
      </div>
    </div>
    <% end %>
</div>
